@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>Learn about <a href="https://github.com/strFelix/TibiaApi">how this works</a>!</p>
</div>

<div>
    <img src="https://i.imgur.com/YVe2qbn.png" width="100%" style="border-radius: 15px; height: 500px;">
</div>

